@charset "UTF-8";

:root {
  --link-color: #6d2d4d;
  --main-color: #42602a;
  --text-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: "Noto Serif JP", serif;
}
a {
  color: #121212;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/* サイドメニューの横幅分だけ左にmarginをとる */
.container {
  margin-left: 260px;
}
/* コンテンツ幅を設定するための共通クラス */
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 30px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.05em;
}

.sec-subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.sec-text {
  line-height: 1.9;
}

.btn {
  display: inline-block;
  min-width: 280px;
  height: 40px;
  background-color: var(--link-color);
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: #fff;
  height: 100%;
  font-weight: 500;
  overflow: hidden;
  transition: color 0.3s ease;
}

.btn-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 60%);
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.btn-link:hover::before {
  transform: translateX(0%);
}

.btn-link i {
  position: absolute;
  right: 15px;
  font-size: 1.7rem;
  transition: transform 0.3s ease;
}

.btn-link:hover i {
  transform: translateX(4px);
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

.header {
  width: 260px;
  height: 100%;
  background-color: var(--main-color);
  padding: 40px 50px 30px 45px;
  position: fixed;
  top: 0;
}

.header__logo {
  margin-bottom: 30px;
  width: 200px;
}

.header__btn-link {
  display: inline-block;
  padding: 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: var(--text-color);
  font-weight: 500;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  margin-bottom: 20px;
}

.header__btn-link:hover {
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.35);
  border-color: rgba(255, 255, 255, 0.9);
}

.header__btn {
  margin: 25px auto 20px;
}

.gnav__list {
  margin-bottom: 30px;
}
.gnav__item {
  padding: 8px 0;
}

.gnav__link {
  color: var(--text-color);
}

/*-------------------------------------------
Video
-------------------------------------------*/
.background-video {
  position: fixed; /* 画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* コンテンツより後ろに */
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* アスペクト比を保ったまま画面にフィット */
}
.slideBox {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

/* 画像設定 */
.item1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  opacity: 0;
  transform: scale(1);
  animation: anime 32s ease-in-out infinite;
}

.item1:nth-of-type(1) {
  animation-delay: 0s;
}
.item1:nth-of-type(2) {
  animation-delay: 8s;
}
.item1:nth-of-type(3) {
  animation-delay: 16s;
}
.item1:nth-of-type(4) {
  animation-delay: 24s;
}

@keyframes anime {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  23% {
    opacity: 1;
    transform: scale(1);
  }
  28% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

/*-------------------------------------------
About
-------------------------------------------*/
.about__items {
  display: flex;
  column-gap: 70px;
}

.about__gallery {
  opacity: 80%;
  object-fit: cover;
}

/*-------------------------------------------
Spa
-------------------------------------------*/
.spa__btn {
  margin: 15px 0px 40px;
}

.spa__circle-item {
  display: flex;
  justify-content: space-between;
}
.spa__circle-items {
  width: 30%;
  text-align: center;
}

.spa__circle-title {
  border: solid 1px #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  padding: calc(50% - 11px) 0;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  /* ホバー時用の要素を隠すために設定 */
  overflow: hidden;
}
/*
ホバー時のスライドを疑似要素で作成
「left: -100%;」で左側に隠しておく
*/
.spa__circle-title::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffff00;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0.5;
  transition: 0.8s;
}
/* ホバー時に「left: 0;」を設定して右に移動させる */
.spa__circle-title:hover::before {
  left: 0;
}
.spa__circle-text {
  font-size: 1.4rem;
}

.spa__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 下段3枚を3等分 */
  object-fit: cover;
}

.spa__gallery-main {
  grid-column: 1 / 4; /* 上段は3列分 */
  grid-row: 1 / 2; /* 1行目に配置 */
  object-fit: cover; /* ここが命 */
}

.spa__gallery-1 {
  grid-column: 1 / 2; /* 下段1列目 */
  grid-row: 2 / 3; /* 2行目 */

  object-fit: cover; /* ここが命 */
}

.spa__gallery-2 {
  grid-column: 2 / 3; /* 下段2列目 */
  grid-row: 2 / 3;

  object-fit: cover; /* ここが命 */
}

.spa__gallery-3 {
  grid-column: 3 / 4; /* 下段3列目 */
  grid-row: 2 / 3;

  object-fit: cover; /* ここが命 */
}

/*-------------------------------------------
Room
-------------------------------------------*/
.room__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.room__img {
  max-width: 490px;
}

.room__btn-area {
  margin-top: 20px;
}

/*-------------------------------------------
Food
-------------------------------------------*/

.food {
  padding-bottom: 20px;
}

.food__body {
  text-align: center;
}
/* スライダー全体 */
.slider-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* スライド5枚 × セット2つ */
.slider {
  display: flex;
  flex-shrink: 0;
  animation: scroll-left 50s linear infinite;
}

/* スライド */
.slide {
  flex: 0 0 450px;
  height: 200px; /* 任意。好きな高さを設定 */
}

/* 画像 */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 無限ループ（止まらない） */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/*-------------------------------------------
Facilities
-------------------------------------------*/
.facilities__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facilities-img {
  max-width: 490px;
}

.facilities__btn-area {
  margin-top: 20px;
}

/*-------------------------------------------
Access
-------------------------------------------*/

.access {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(img/access.jpg) center/cover no-repeat;
  padding: 100px 0;
  background-size: cover;
}

.access::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* ← ここで暗さ調整 */
  z-index: 0;
}

/* 中のテキストを前面に出す */
.access * {
  position: relative;
  z-index: 1;
}
.access__body {
  text-align: center;
}

.access__map {
  margin-top: 15px;
}

.access__btn-area {
  margin-top: 40px;
}

.access__map iframe {
  width: 100%;
  height: 300px; /* 必要に応じて調整 */
  border: 0;
}

.access__contact {
  padding: 20px 0;
}

.access__number {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 5px 0;
}

.access__number-fax {
  font-size: 1.6rem;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer {
  background-color: #2f441e;
  padding: 20px 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}
.footer__item {
  border-right: solid 1px #fff;
  padding: 0 20px;
}
.footer__item:last-child {
  border-right: none;
}
.footer__item a {
  color: #fff;
}
.footer .copyright {
  font-size: 0.75rem;
  text-align: center;
}

/*-------------------------------------------
トップへ戻るボタン
-------------------------------------------*/
/*
右下に固定で配置
表示・非表示の切り替えはjQueryで行うため、詳細は「main.js」のコメントを参照
*/
#to-top {
  width: 50px;
  height: 50px;
  background-color: #577e37;
  border: solid 0px var(--text-color);
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
}
/*
中の三角は疑似要素で作成
*/
#to-top::after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--text-color);
  position: relative;
  left: 17px;
  bottom: 3px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 960px) {
  .container {
    margin-left: 0;
  }
  .wrapper {
    padding: 30px 50px;
  }

  .sec-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .sec-subtitle {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  .sec-text {
    line-height: 1.8;
  }

  .btn {
    min-width: 250px; /* 小さめに調整 */
    height: 36px; /* 高さも少し下げる */
  }

  .btn-link {
    font-size: 1.6rem; /* 文字も小さめに */
  }

  .pc-br {
    display: none;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header {
    width: 100%;
    height: 72px;
    padding: 0;
    z-index: 10;
  }

  .header__logo {
    padding: 10px 0px;
    width: 110px;
    margin-bottom: 0;
    margin-left: 20px;
  }

  /*
  ハンバーガーメニュー
  ※ハンバーガーメニューの説明は他の課題と重複するため割愛
  */
  .gnav {
    width: 300px;
    background: var(--main-color);
    padding: 25px;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
  }
  .open .gnav {
    left: 0;
    opacity: 1;
  }
  .gnav__list {
    margin-bottom: 30px;
  }
  .gnav__item {
    padding: 10px 0;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  .hamburger span:nth-child(1) {
    top: 4px;
  }
  .hamburger span:nth-child(2) {
    top: 14px;
  }
  .hamburger span:nth-child(3) {
    bottom: 4px;
  }
  .open .hamburger span {
    background-color: #fff;
  }
  .open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: 0.5s;
  }
  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  /* video */
  .background-video video {
    display: none;
  }

  .background-video {
    background-image: url("img/sp-bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .item1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    opacity: 0;
    transform: scale(1);
    animation: anime 32s ease-in-out infinite;
  }

  /* 画像の指定 */
  .item1:nth-of-type(1) {
    content: url("img/tab-item1.jpg");
    animation-delay: 0s;
  }
  .item1:nth-of-type(2) {
    content: url("img/tab-item2.jpg");
    animation-delay: 10.666s; /* 32秒 ÷ 3枚 */
  }
  .item1:nth-of-type(3) {
    content: url("img/tab-item3.jpg");
    animation-delay: 21.333s; /* 2枚目の次 */
  }

  /* アニメーション */
  @keyframes anime {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    5% {
      opacity: 1;
      transform: scale(1);
    }
    33% {
      opacity: 1;
      transform: scale(1);
    }
    38% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  /* About */

  .about__items {
    display: grid;
    column-gap: none;
    row-gap: 20px;
  }

  .about__gallery {
    opacity: 80%;
    object-fit: cover;
  }

  /* spa */

  .spa__circle-title {
    background-color: #ffff00;
    border: solid 1px #ffff00;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }

  .spa__circle-text {
    font-size: 1rem;
  }

  .spa__btn-area {
    text-align: center;
  }

  /* room */
  .room__body {
    flex-direction: column;
    align-items: flex-start;
  }

  .room__img {
    max-width: 100%; /* 親幅いっぱいに広げる */
    margin-bottom: 10px; /* 下に余白 */
  }

  .room__btn-area {
    text-align: center;
  }

  /* food */

  .food {
    padding: 0 50px 30px;
  }

  .food__body {
    text-align: left;
  }

  .slide {
    flex: 0 0 280px;
    height: 100px;
  }

  /* facilities */

  .facilities__body {
    flex-direction: column;
    align-items: flex-start;
  }

  .facilities-img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .facilities__btn-area {
    text-align: center;
  }

  /* access */

  .access {
    padding: 30px 50px;
  }

  /* 文章は左寄せ */
  .access__body {
    text-align: left;
  }

  .access__map {
    margin-top: 10px;
  }

  .access__btn-area {
    margin-top: 10px;
  }

  /* マップの大きさ */
  .access__map iframe {
    height: 200px;
    width: 100%;
  }

  .access__contact {
    padding: 10px 0;
  }

  .access__number {
    font-size: 1.6rem;
  }

  .access__btn-area {
    text-align: center;
  }

  /* footer */
  .footer__list {
    flex-wrap: wrap;
  }
  .footer__item {
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    .item1:nth-of-type(1) {
      content: url("img/sp-item1.jpg");
    }
    .item1:nth-of-type(2) {
      content: url("img/sp-item2.jpg");
    }
    .item1:nth-of-type(3) {
      content: url("img/sp-item3.jpg");
    }
  }
}
